*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #edf7f6;;
}

body,
h1,h2{
    font-family:"Lato", sans-serif;
    
}

header{
    width: 100%;
    margin: 2 2%;
    height: auto;
    
    
}

nav{
    
    display: flex;
    align-items:  center;
    justify-content: space-between;
   
   
}
.logo{
    
    margin-right: 15px;
    margin-top: 10px;
    width: 70px;
    height:70px;
    border-radius: 20px;
    
    
    
}
#facebook,#insta
{
    margin: 10px;
    width: 30px;
    height:30px;
    border-radius: 20px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 30px;
    
    
    
    
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    
    
}

nav ul li a::after{
    content: '';
    width:0%;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}


.container {
    text-align: center;
    
    display:grid;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    float: middle;
    border-radius: 20px;

}
.container h2 span{
    color:  #ff1e00;
}

.container_2{
    padding: 10px 10%;
    
    box-sizing: border-box;
    
    align-items:  center;
    justify-content: space-between;
   
    
   
}
.col{
    position: relative;
    display: flex;
    
    justify-content: space-between;
}

.column{
    width: 400px;
    height: 400px;
    
  }

  .overlay{
    margin: 30px;
    
  }
  .btn{
    position: relative;
    margin-top: 20px;
    margin-left: 43%;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius:6px;
    color: #fff;
    background-color: #0B0C10;
    transition: 0.5s;
    

}
  
.btn:hover{
    background: #ff004f;
}
  





footer {
    text-align: center;
    
    height: auto;
    background-color: #494d5f;
    color: white;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
 
  }
  .contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.btn.btn2{
    display: inline-block;
    background-color: #ff004f;
    transition: 0.5s;
}

.btn.btn2:hover{
    background-color: #0B0C10;
}

.contact-right form{
    width: 100%;
}


form input, form textarea{
    width:100%;
    border:0;
    outline: none;
    background: #0B0C10 ;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size:18px;
    border-radius: 6px;

}

form .btn2{
    position: relative;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}



table, th, td {
    border:1px solid black;
  }